#main{
    height: 260px;
    width: 300px;   
    background-color:rgb(53, 130, 255);
    border-radius: 2%;
    justify-content: center;
    align-items: center;
    margin:10% 30% ;
}
#input{
    padding: 10px;
    margin: 15px 10px;
    width:250px;
}
.divmain{
    margin: -8px 10px 10px 0px;
    height: 180px;
    width: 300px;
    background-color:transparent;
}
.div3{
    height: 44px;
    width: 65px;
    background-color: aliceblue;
    border-radius: 10%;
    text-align: center;
    margin: 2px -8px 2px 10px;   
    display: flex; 
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-size: 20px;
    border: transparent;
}